<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
    body { font-family: 'Arial, sans-serif'; margin: 40px; }
    h1 { text-align: center; }
    .invoice-container { max-width: 800px; margin: auto; }
    .invoice-header { display: flex; justify-content: space-between; align-items: center; }
    .invoice-header img { max-height: 50px; }
    .invoice-details { margin-top: 20px; border-collapse: collapse; width: 100%; }
    .invoice-details th, .invoice-details td { border: 1px solid #ddd; padding: 8px; }
    .invoice-details th { background-color: #f2f2f2; }
    .qr-code { text-align: center; margin-top: 20px; }
  </style>
</head>
<body>
  <div class="invoice-container">
    <div class="invoice-header">
      <div>
        <h1>Nota Fiscal</h1>
        <p>Data: {{date}}</p>
      </div>
      <div>
        <img src="logo.png" alt="Logo da Empresa">
      </div>
    </div>
    <div class="invoice-client">
      <p><strong>Cliente:</strong> {{client}}</p>
    </div>
    <table class="invoice-details">
      <thead>
        <tr>
          <th>Descrição</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Valor Total</td>
          <td>{{amount}}</td>
        </tr>
      </tbody>
    </table>
    <div class="qr-code">
      <p>Escaneie o QR code para mais detalhes:</p>
      <img src="{{qrCode}}" alt="QR Code">
    </div>
  </div>
</body>
</html>
